{{yield}}
<article class="listing">
    <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
        <img src="{{palette.img}}">
        <small>Zoom</small>
    </a>
    <h3>{{palette.title}}</h3>
    <h4>by {{palette.designer}}</h4>
    <div class="detail type">
        <span>Mood:</span> {{color-palette-mood palette.mood}}
        - {{palette.mood}}
    </div>
    <ul>
        {{#each palette.colors as |color|}}
            <li>{{color}}</li>
        {{/each}}
    </ul>
</article>