{{yield}}
<article class="listing">
    <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
        <img src="{{palette.img}}">
        <small>Zoom</small>
    </a>
    <h3>{{palette.title}}</h3>
    <h4>by {{palette.designer}}</h4>
    <div class="detail type">
        <span>Mood:</span> {{categorize-mood palette.mood}}
        - {{palette.mood}}
    </div><br>
    <div class="inline">
    <ul class="inline">
        {{#each palette.colors as |color|}}
            <li class="inline">{{color}}</li>
        {{/each}}
    </ul>
    </div>
</article>